body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 600px;
  margin: 30px auto;
}
header {
  text-align: center;
  margin: 30px 15px;
  display: block;
}
header h1 {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.5;
  color: #272044;
}
.form-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08); */
  margin-bottom: 30px;
}
form {
  display: flex;
}
.user-instruction-input-field {
  padding: 15px 20px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-weight: 400;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  margin: 5px;
}
#generate-submit-button {
  background: #34495e;
  padding: 14px 24px;
  border-radius: 50px;
  border: none;
  color: #fff;
  margin-left: 10px;
  margin: 5px;
}
#submit-button:hover {
  background-color: #8dc6ff;
  color: #000;
  cursor: pointer;
}
.user-hint {
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 5px;
  opacity: 0.6;
  font-size: 12px;
}
.quote {
  font-size: 16px;
  padding: 20px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-left: 3px solid #34495e;
  background-color: #fff;
}
.hidden {
  display: none;
}
#quote strong {
  color: #272044;
  line-height: 1.5;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

a {
  color: #272044;
  text-decoration: underline;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
footer {
  margin-top: 30px;
  font-size: 13px;
  text-align: center;
}
